{% extends 'base_epanel.html' %}

{% block content %}
<style type="text/css">
	.list_thumb { width: 64px; }
	table .controls { padding: 0px; }
	table .controls li { list-style: none; line-height: 12px; }
	table .controls li a { font-size: 12px; }
</style>
<div class="row" style="position:relative">
	<h1>Mis premios</h1>
	<a href="/epanel/premios/nuevo" class="btn btn-primary top-btn">Nuevo premio</a>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Imagen</th>
				<th>Titulo</th>
				<th>Premio</th>
				<th>Stock</th>
				<th>Controles</th>
			</tr>
		</thead>

		{% for o in offers %}
		<tbody>
			<tr>
				<td>{{ o.id }}</td>
				<td><img src="{{ o.media_thumb }}" class="list_thumb"></td>
				<td><a href="/{{ o.company.slug }}/premios/{{ o.id }}/{{ o.slug }}" target="_blank">{{ o.title }}</a></td>
				<td>{{ o.prize_name }}</td>
				<td>{{ o.stock }}</td>
				<td>
					<ul class="controls">
						<li><a href="/epanel/premios/editar/{{ o.id }}">Editar</a></li>
						<li><a href="/epanel/premios/multimedia/{{ o.id }}">Multimedia</a></li>

						{% if o.status == 'C' %}
						<li><a href="/epanel/premios/desactivar/{{ o.id }}">Desactivar</a></li>
						{% endif %}

						{% if o.status == 'A' %}
						<li><a href="/epanel/premios/activar/{{ o.id }}">Activar</a></li>
						{% endif %}
					</ul>
				</td>
			</tr>		
		</tbody>
		{% endfor %}
	</table>
</div>
{% endblock %}