
/*************************************************************************************
/*	Prize list
*************************************************************************************/
.top-btn {
	position: absolute;
	top: 20px;
	right: 10px;
}