@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border:0;
}

img {
	vertical-align: top;
}

html { 

	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body {
	font-family: Arial;
	font-size: 12px;
	color:#000;

	max-width: 1280px;
	margin: 0 auto;


}

a { 
	color: #353535; 
	text-decoration: none; 
}

a:hover {
	 color: #353535; 
	 text-decoration:underline; 
}

li {
	list-style-type: none;
}

header {
	width: 100%;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	background-image: url(../img/fon_header.png);
	background-size: 100% 100%;
	margin-bottom: 20px;
	background-position: bottom;
	background-repeat: repeat-x;

	position: fixed;
	top: 0px;
	right: 0px;
	left: 0;
	height: 67px;
	z-index: 100;

	max-width: 1280px;
	margin: 0 auto;

}

footer {
	float: left;
	width: 100%;
	background: #ee3322;
	bottom: 0;
	height: 70px;
	left: 0;
	right: 0;
	z-index: 4;

	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
}

.logo {
	float: left;
	width: 137px;
	padding: 15px 0 0 0;
	margin: 0 30px 0 25px;
}

.cont_buscador {
	float: left;
	width: 182px;
	padding: 16px 0 0 0;
	margin-left: 72px;
}

.cont_buscador_camp {
	float: left;
	padding: 0 20px 0 28px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	box-shadow: none;
	height: 33px;
	background-image: url(../img/lupa.png);
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 9px 50%;
	width: 100%;
}

.cont_buscador_camp input {
	float: left;
	color: #008fd5;
	line-height: 33px;
	padding-left: 10px;
	width: 100%;
	outline: 0;
}

.contenedor_header_der {
	float: right;
	padding-top: 12px;
	padding-right: 15px;
}

.contenedor_central_full {
	float: left;
	width: 100%;
	margin-top: 67px;
	min-height: 600px;

	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);

}

.contenedor_menu_izq {
	width: 265px;
	position: fixed;
}

.contenedor_central_content {
	width: 79%;
	margin: 0 0 0 21%;
}

.cont_navegacion {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	width: 215px;
	left: 0;
	top: 0;
	bottom: 0;
	margin: 11px 20px 0 20px;
}

.contenedor_navega {

}

.contenedor_navega h1 {
	border-bottom: 1px solid #ccc;
	color: #94999c;
	font-size: 13px;
	line-height: 10px;
	margin-bottom: 9px;
	padding: 9px 0;
	text-transform: uppercase;
}

.cont_navegacion ul {
	float: left;
	width: 100%;
	padding: 2px 0px 18px 0px;
}

.cont_navegacion ul li {
	float: left;
	width: 100%;
	font-size: 13px;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
}

.cont_navegacion ul li a {
	width: 100%;
}

.cont_navegacion ul li a.select {
	color: #008fd5;
}

.boton {
	border: 1px solid #b8c3c9;
	font-family: 'Open Sans', sans-serif;
	line-height: 35px;
	font-size: 15px;
	display: inline-block;
	padding: 0 10px;
	color: #32393d;
	cursor: pointer;
	outline: none;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #ffffff), color-stop(100%, #f5f7fa));
	background-image: -webkit-linear-gradient(#ffffff 60%, #f5f7fa 100%);
	background-image: -moz-linear-gradient(center top, #ffffff 60%, #f5f7fa 100%);
	background-image: -moz-gradient(center top, #ffffff 60%, #f5f7fa 100%);
	background-image: -ms-linear-gradient(top, #ffffff 60%, #f5f7fa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#fff5f7fa);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#fff5f7fa)";
	box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-font-smoothing: auto;
}

.boton.azul {
	border: 1px solid #0070a8;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	-o-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	color: white;
	background-color: #1ea1e3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #1ea1e3), color-stop(100%, #008fd5));
	background-image: -webkit-linear-gradient(#1ea1e3 60%, #008fd5 100%);
	background-image: -moz-linear-gradient(center top, #1ea1e3 60%, #008fd5 100%);
	background-image: -moz-gradient(center top, #1ea1e3 60%, #008fd5 100%);
	background-image: -ms-linear-gradient(top, #1ea1e3 60%, #008fd5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1ea1e3, endColorstr=#ff008fd5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1ea1e3, endColorstr=#ff008fd5)";
	background-color: #008fd5;
}

.boton.azul:hover, .boton.azul:focus {
	background-color: #1ea1e3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #1ea1e3), color-stop(100%, #0086c9));
	background-image: -webkit-linear-gradient(#1ea1e3 60%, #0086c9 100%);
	background-image: -moz-linear-gradient(center top, #1ea1e3 60%, #0086c9 100%);
	background-image: -moz-gradient(center top, #1ea1e3 60%, #0086c9 100%);
	background-image: -ms-linear-gradient(top, #1ea1e3 60%, #0086c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1ea1e3, endColorstr=#ff0086c9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff1ea1e3, endColorstr=#ff0086c9)";
	background-color: #008fd5;
	border: 1px solid #0070a8;
}

.boton.face {
	border: 1px solid #0070a8;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	-o-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	color: white;

	background: #5775b1; /* Old browsers */
	background: -moz-linear-gradient(top,  #5775b1 0%, #4365af 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5775b1), color-stop(100%,#4365af)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5775b1 0%,#4365af 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5775b1 0%,#4365af 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5775b1 0%,#4365af 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5775b1 0%,#4365af 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5775b1', endColorstr='#4365af',GradientType=0 ); /* IE6-9 */

}

.boton.face:hover, .boton.face:focus {
	background: #4b68a1; /* Old browsers */
	background: -moz-linear-gradient(top,  #4b68a1 0%, #3b5999 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b68a1), color-stop(100%,#3b5999)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4b68a1 0%,#3b5999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4b68a1 0%,#3b5999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4b68a1 0%,#3b5999 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4b68a1 0%,#3b5999 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b68a1', endColorstr='#3b5999',GradientType=0 ); /* IE6-9 */

	border: 1px solid #0070a8;
}

.posicion_face {
	vertical-align: top;
	margin-top: 3px;
}

.posicion {
	vertical-align: top;
	margin-top: 3px;
	margin-right: 17px;
}

#fb-button input {
	background: transparent;
	cursor: pointer;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.menu_usuario_nav {
	position: absolute;
	background: #EEE;
	padding: 0px 16px;
	color: #999;
	margin-left: -26px;
	margin-top: -11px;
	padding-bottom: 5px;
	display: none;	
}

.menu_usuario_nav li a {
	margin-top: 5px;
	color: #94999c;
	font-weight: normal;
}

.boton_usuario_nav {
	position: relative;
}

.boton_usuario_nav img {
	width: 40px;
}

.boton_usuario_nav a {
	color: #111;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	margin-top: 12px;
	padding: 0 0 0 10px;
	vertical-align: top;
	font-weight: bold;
}

.boton_usuario_nav a:hover {
	color: #32393d;
	text-decoration: none;
}

.boton_usuario_nav_boton {
	width: 32px;
	height: 32px;
	margin: 7px 0 0 3px;
	padding: 0;
	display: inline-block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.boton_usuario_nav_boton_conf {
	background: url(../img/fle.png) no-repeat;
	background-size: 100% 100%;
}

.boton_usuario_nav_boton_conf:hover {
	background: url(../img/flehover.png) no-repeat;
	background-size: 100% 100%;
}

.botones_redondos_f {
	width: 40px;
	height: 40px;
	/*-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;*/
	display: inline-block;
	cursor: pointer;
}

.icon_usuario {
	background: url(../img/icon_usuario.png) no-repeat #f04536 center 11px;
}

.icon_opciones {
	background: url(../img/icon_opciones.png) no-repeat #f04536 11px 14px;
}

.cont_btn_users {
	display: inline;
}

.cont_btn_users a {
	margin: 0 0 0 8px;
	padding: 0;
}

.cont_titulo_destacado {
	float: left;
	width: 100%;
	background: url(../img/textu_roja.png);
	border-bottom: 1px solid #d8dadc;
	line-height: 60px;
	margin-bottom: 13px;
}

.cont_titulo_destacado h2 {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #4b5c66;
	font-weight: normal;
	background: url(../img/icon_destacado.png) no-repeat  0 center;
	margin: 0 0 0 15px;
	padding-left: 41px;
}

.cont_titulo_mas_meguz {
	float: left;
	width: 100%;
	background: url(../img/textu_azul.png);
	border-bottom: 1px solid #d8dadc;
	border-top: 1px solid #d8dadc;
	line-height: 60px;
}

.cont_titulo_mas_meguz h2 {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #4b5c66;
	font-weight: normal;
	background: url(../img/icon_mas_m.png) no-repeat  0 center;
	margin: 0 0 0 15px;
	padding-left: 41px;
}

.contenedor_destacados_meguz {
	float: left;
	width: 100%;
	padding-bottom: 20px;
}

.contenedor_mas_meguz {
	float: left;
	width: 100%;
	margin-bottom: 60px;
}

.contenedor_mas_m_full {
	float: left;
	width: 43%;
	border-bottom: 1px solid #d8dadc;
	padding: 16px 20px;
}

.contenedor_mas_m_caja_img {
	float: left;
	width: 158px;
	height: 104px;
	border: 1px solid #d8dadc;
	padding: 9px;
	position: relative;
}

.contenedor_mas_m_caja_img_interior {
	float: left;
	width: 156px;
	height: 102px;
	border: 1px solid #d8dadc;
	overflow: hidden;
}

.contenedor_mas_m_caja_img_interior img {
	width: 100%;
}

.contenedor_mas_m_caja_img_interior a img {
	width: 100%;
	height: 109px;
	position: relative;
	top: -7px;
}

.votos_caja {
    position: absolute;
    bottom: 10px;
    padding: 2px 5px;
    background: white;
    height: 15px;
    line-height: 15px;
    right: 10px;
}
.votos_caja img {
    width: 15px !important;
    height: 15px !important;
    top: 0px !important;
}
.votos_caja_count {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.fond_0_img_meguz {
	background: #f0f2f4;
}

.fond_1_img_meguz {
	background: #dfe3e7;
}

.contenedor_txt_mas_m {
	float: left;
	width: 50%;
	padding: 0px 0 5px 15px;
	height: 119px;
	overflow: hidden;
}

.contenedor_txt_mas_m h1 {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #4b5c66;
	margin-bottom: 8px;
	padding: 0;
}

.contenedor_txt_mas_m h1 a {
	color: #4b5c66;
}

.contenedor_txt_mas_m h2 {
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #4b5c66;
}

.contendor_like {
	float: left;
	width: 100%;
	padding-top: 10px;
}

.contendor_like h3{
	float: left;
	font-family: 'Open Sans', sans-serif;
	width: 16%;
	color: #ee3322;
	font-size: 22px;
	font-weight: normal;
	padding-top: 6px;

}

.contenedor_icono_like_home {
	float: left;
}

.contenedor_destacados_h {
	float: left;
	width: 178px;
	margin-right: 20px;
}

.cont_like_destacado_f {
	float: left;
	width: 99%;
	background: #f0f2f4;
	border-left: 1px solid #d8dadc;
	border-bottom: 1px solid #d8dadc;
	border-right: 1px solid #d8dadc;
}


.bt_like_destacados {
	float: right;
	border-left: 1px solid #d8dadc;

}

.txt_digito_destacados {
	float: left;
	width: 69%;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-align: center;
	line-height: 53px;
	font-size: 22px;
	color: #ee3322;
}

.contenedor_destacados_h h1 {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 13px;
	padding-top: 7px;
	margin-bottom: 15px;
}

.contenedor_destacados_h h1 a:hover {
	text-decoration: underline;
	color: #008fd5;
}


.contenedor_izq_detalle {
	float: left;
	left: 0;
	top: 129px;
	width: 81.9%;
	border-right: 1px solid #d8dadc;
	padding: 0 0 0 24px;
}

.contenedor_derecho_detalle {
	width: 179px;
	top: 129px;
	right: 0;
	padding: 0 12px;
	/*padding: 0 12px 0 15px;*/
	float: left;
}

.contenedor_destacados_derecho {
	width: 178px;
	padding: 15px 0;
} 

.contenedor_destacados_derecho h1 {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 13px;
	padding-top: 7px;
	margin-bottom: 15px;
}

.contenedor_destacados_derecho h1 a:hover {
	text-decoration: underline;
	color: #008fd5;
}

.recuerda {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #4b5c66;
}

.recuerda li {
    font-size: 14px;
    margin-bottom: 15px;
}

.contenedor_destacados_derecho h2 {
    font-family: 'Open Sans', sans-serif;
    color: #4b5c66;
}

.titulo_usuario_meguz {
	float: left;
	width: 100%;
	background: url(../img/textu_azul.png);
	border-bottom: 1px solid #d8dadc;
	border-top: 1px solid #d8dadc;
}

.contendor_header_usuario {
	float: left;
	width: 76%;
	height: 60px;
	padding: 0 0 0 23px;
}

.posicion_ver_perfil {
	margin-top: 13px;
	margin-right: 17px;
	float: right;
}

.perfil_imagen_usuario {
	float: left;
	margin-top: 8px;
	border: 1px solid #989898;
	background: #d8dadc;
}

	.perfil_imagen_usuario img {
		height: 43px;
	}

.titulo_usuario_barra_perfil {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #4b5c66;
	line-height: 60px;
	padding: 0 0 0 23px;
	width: 60%;
}

.titulo_usuario_barra_perfil a {
	color: #4b5c66;
}

.contenedor_izq_detalle h1 {
	float: left;
	width: 80%;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: normal;
	padding: 10px 0;
	color: #4b5c66;
}

.contenedor_central_superior_detalle {
	float: left;
	width: 100%;
}

.contenedor_medio_detalle {
	float: left;
	width: 100%;
	padding: 10px 0 10px 0;
}

.contenedor_publicidad_detalle {
	float: left;
	width: 100%;
}

.contenedor_comentarios_detalle_facebook {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 16px;
}

.contenedor_central_superior_detalle_der {
	float: left;
	width: 635px;
}

.contenedor_central_superior_detalle_izq {
	float: left;
	width: 35%;
}

#contenido_stats_detalle {
	float: left;
	width: 98%;
	background: #ddd;
	padding: 2% 1%;
	margin-top: -5px;

}
.contenido_stats_subdetalle {
	width: 43%;
	float: left;
	text-align: center;
	padding: 2% 1%;
	font-size: 18px;
	line-height: 24px;
	color: #354c8c;
	background: white;
}

.contenido_img_detalle {
	float: left;
	border: 1px solid #c0c0c0;
	margin-right: 35px;
	height: 393px;
}

.contenido_img_detalle iframe {
	width: 600px;
	height: 393px;
	max-width: 100%;
}

.publicidad_banner_lar {
	float: left;
	width: 100%;
	padding: 33px 0; 
	border-top: 1px solid #d8dadc;
	border-bottom: 1px solid #d8dadc;
}

.banner_lar_detalle {
	width: 968px;
	margin: 0 auto;
	border: 1px solid #d4d5d6;
}

.contenedor_central_superior_detalle_izq h5 {
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	/*margin-bottom: 12px;*/
	border-bottom: 1px solid #a0a0a0;
	padding: 10px 0 3px;
	color: #4b5c66;

}

.contenedor_central_superior_detalle_izq h2 {
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	font-weight: normal;
	color:#e58036;
	/*margin-top: 10px;*/
}

.texto_like {
	font-size: 18px;
}

.bt_like_lar {
	float: left;
	width: auto;
	padding: 0px 10px 10px 10px;
}

.boton_img_like {
	float: left;
	margin-right: 19px;
}

.boton_img_redsocial {
	float: left;
	line-height: 12px;
	padding-top: 11px;
}

.contenedor_producto_like {
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	font-weight: normal;
	color:#e58036;
}

.detalle_disponibles {
	float: left;
}

.nombre_producto_disponibles {
	float: right;
}

.contenedor_descripcion {
	float: left;
	width: 58%;
	margin-right: 35px;
}

.contenedor_descripcion h3 {
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #4a4a4a;
	margin-bottom: 9px;
}

.contenedor_descripcion p {
	float: left;
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #555;
	line-height: 20px;
}

.contenedor_auspiciado {
	float: left;
	width: 38%;
	margin-bottom: 15px;
}

.contenedor_auspiciado h3 {
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4a4a4a;
	/*margin-bottom: 30px;*/
	margin-bottom: 5px;
	border-bottom: 1px solid #a0a0a0;
	padding-bottom: 3px;

}

.meguz_premio img {
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
.meguz_premio h4 {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-weight: normal;
}
.meguz_premio {
    background-color: #DDD;
    float: left;
    width: 96%;
    padding: 2%;
    margin-top: -5px;
}

.logo_auspiciador {
	text-align: center;
	width: 96%;
	float: left;
	background-color: #ddd;
	padding: 2%;
	margin-top: -5px;
}

.logo_auspiciador img {
	width: 70%;
}

/*.not-login p {
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
}*/

/*.not-login {
    line-height: 30px !important;
    padding-bottom: 7px;
} */

.btn-participar {
margin: 0px !important;
padding-bottom: 5px;
}

.boton_participa {
	float: right;
	width: 15%;
}

#boton_verde {
	background: #66a523;
	border: 1px solid #3b7200;
	box-shadow: 0px 1px 0 0px 50px;
	-webkit-box-shadow: 0px 0px 15px #66a523;
	-moz-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	-o-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	padding: 0 42px;
}

#boton_naranjo {
	float: left;
	border: 1px solid #CA6500;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 0 0px 50px;
	-webkit-box-shadow: 0px 0px 15px #fd8f22;
	-moz-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	-o-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.14);
	color: white;
	background-color: #fd8f22;
	width: 356px;
	text-align: center;
	/*line-height: 65px;*/
	font-size: 28px;
	margin:40px 0 0 0;
}

.contenedor_publicidad_detalle_empresa {
	float: left;
	width: 100%;
}

.estan_participando_empresa {
	float: left;
	width: 100%;
	padding: 20px 0; 
	border-top: 1px solid #d8dadc;
	border-bottom: 1px solid #d8dadc;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #4a4a4a;
}

.eslogan_empresa {
	float: right;
}

.empresas_que_participan {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 16px;
}

.empresas_que_participan h1 {
	font-size: 18px;
	padding: 0;
}

.empresas_que_participan h1 a {
	color: #4b5c66;
}

.contenedor_central_superior_detalle_izq_empresa {
	float: left;
	width: 38%;
}

.contenedor_central_superior_detalle_izq_empresa h5 {
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 3px;
	margin-bottom: 5px;
	border-bottom: 1px solid #a0a0a0;
	color: #4b5c66;
}

.contenido_img_detalle_empresa {
	float: left;
	width: 600px;
	border: 1px solid #c0c0c0;
	margin-right: 16px;
	height: 393px;
	overflow: hidden;
}

.contenido_img_detalle_empresa img {
	width: 100%;
}

.contenido_img_detalle_empresa iframe {
	width: 600px;
	height: 393px;
	max-width: 100%;
}

.contenedor_auspiciador {
	float: left;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	background: #ddd;
	margin-top: -5px;
}

	.contenedor_auspiciador img {
		width: 75%;
	}

	.auspiciador_nombre {
	    font-weight: bold;
	    font-size: 15px;
	}

	.contacto_auspiciador_1 {
	    text-align: left;
	    font-size: 13px;
	    margin-top: 9px;
	    width: 45%;
	    float: left;
	    color: #444;
	    margin-left: 2%;
	    font-family: 'Open Sans', sans-serif;
	}

	.contacto_auspiciador_2 {
	    text-align: right;
	    font-size: 13px;
	    margin-top: 9px;
	    width: 45%;
	    float: right;
	    color: #444;
	    margin-right: 2%;
	    font-family: 'Open Sans', sans-serif;
	}

.contendor_caracteristicas_auspiciador {
	float: left;
	width: 98%;
	border-top: 1px solid #3b84ba;
	border-bottom: 1px solid #3b84ba;
	border-left: 9px solid #3b84ba;
	border-right: 1px solid #3b84ba;
	margin-top: 25px;
}

.contendor_interno_auspiciador {
	float: left;
	border:1px solid #fff;
	width: 99.5%;
	background: #cbddef;
	padding: 10px 0px;
	color: #333;
	text-shadow: 0 1px 0 #efefef;
	-webkit-text-shadow: 0 1px 0 #efefef;
	-moz-text-shadow: 0 1px 0 #efefef;
	-o-text-shadow: 0 1px 0 #efefef;
}

#tda_meta {
    width: 20%;
}
#tda_premio {
    width: 50%;
}
#tda_stock {
    width: 20%;
}

.txt_datos_auspiciador {
	float: left;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
}

.txt_datos_auspiciador_label {
	font-size: 12px;
}

.txt_datos_auspiciador_separa_izq {
	margin-left: 11px;
}

.txt_datos_auspiciador_separa_der {
	margin-left: 14px;
}

.txt_datos_auspiciador_bold {
	font-weight: bold;
	color: #333;
	display: block;
	line-height: 20px;
	margin-top: 5px;
	display: inline;
}

.boton_nar {
	border: 1px solid #b8c3c9;
	font-family: 'Open Sans', sans-serif;
	line-height: 35px;
	font-size: 15px;
	display: inline-block;
	padding: 0 10px;
	color: #32393d;
	cursor: pointer;
	outline: none;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-font-smoothing: auto;
}

.boton_nar {
	border: 1px solid #b8c3c9;
	font-family: 'Open Sans', sans-serif;
	line-height: 35px;
	font-size: 15px;
	display: inline-block;
	padding: 0 10px;
	color: #32393d;
	cursor: pointer;
	outline: none;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-font-smoothing: auto;
}

.bt_inicio_sesion {
	float: left;
	width: 100%;
	text-align: center;
	line-height: 65px;
}

.bt_inicio_sesion_txt {
	font-size: 23px;
}

.bt_inicio_sesion_participa {
	font-size: 28px;
	padding-bottom: 7px;
}

.bt_inicio_sesion_ok {
	line-height: 65px;
}

#face_movil {
	display: none;
}

#menu_izq_superior_movil {
	display: none;
}

#boton_menu_izq_movil {
	display: none;
}

#participar_mobile {
	display: none;
}

/* ------------------------------------------------------------------------------- */
/* User Account
/* ------------------------------------------------------------------------------- */
table.mis-meguz {
    width: 95%;
    border: 1px solid #CCC;
    padding: 1%;
}
	table.mis-meguz img {
	    width: 65px;
	}
	table.mis-meguz tr:hover {
	    background-color: #EEE;
	    cursor: pointer;
	}
	table.mis-meguz td {
	    padding: 3px;
	    text-align: center;
	}

#userimage {
    width: 200px;
    float: left;
}
	#userimage img {
		border: 3px solid #999;
	}
	
#userinfo {
    width: 600px;
    float: left;
    font-size: 16px;
    line-height: 35px;
}
	#userinfo li {
	    font-weight: bold;
	}
	#userinfo .label {
	    background: #DEDEDE;
	    padding: 5px;
	    border-radius: 5px;
	    font-size: 13px;
	    font-weight: normal;
	    width: inherit;
	}