{% extends 'base.html' %}

{% block extrahead %}
<title>Participar en "{{ offer.title }}"</title>
<link rel="stylesheet" type="text/css" href="/static/css/forms.css">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
{% endblock %}

{% block content %}
<div class="titulo_usuario_meguz">
	<div class="contendor_header_usuario">
	<span class="perfil_imagen_usuario">
		<img src="{{ company.logo.url }}" />
	</span>
	<span class="titulo_usuario_barra_perfil">
		{{ company.name }}
	</span>

	</div>
</div>	

<aside class="contenedor_izq_detalle">
	<h1>{{ offer.title }}</h1>

	<div class="contenedor_central_superior_detalle">
		<form id="form_participar" class="forms" method="post">
			{% csrf_token %}
			{{ form.non_field_errors }}

			<ul>
				<li>
					{{ form.title.errors }}
					<label for="id_title">Título de tu video</label> 
					{{ form.title }}				
				</li>
				<li>
					{{ form.description.errors }}
					<label for="id_description">
						¿Cómo piensas ganarte el premio? Describe tu video a continuación...
					</label> 
					{{ form.description }}							
				</li>					

				<li id="input_video">
					{{ form.file.errors }}
					<label for="id_file">Sube tu video</label> 
					{{ form.file }}
					<span class="helptext">- Dependiendo del tamaño del video, esta operación puede tardar algunos minutos.</span>
					<span class="helptext">- El video estará disponible una vez que termine su procesamiento en nuestra <a href="http://www.youtube.com/MEGUZcom" target="_blank">página de youtube</a></span>
		    		{{ form.token.as_hidden }}
	    		</li>
    			<li>
    				<input value="Participar" id="submit" type="submit" onclick="return processForm()"/>
    			</li>
    		</ul>
		</form>
	</div>

</aside>

<!-- // Right Bar -->

<aside class="contenedor_derecho_detalle">
	<article class="contenedor_destacados_derecho">		
		<h2>Recuerda</h2>
		<ul class="recuerda">
			<li>Tu video debe ser exclusivamente grabado para Meguz.com</li>
			<li>El protagonista del video debes ser tú</li>
			<li>Se validará que los likes hayan sido obtenidos exclusivamente en Meguz.com</li>
		</ul>
	</article>
</aside>

<script type="text/javascript">
	function processForm() {

		var title = $('#id_title').val();
		var description = $('#id_description').val();

		// Validate video selected		
		if(document.getElementById("id_file").value) {

			if(title == '') alert("Debes ingresar un titulo");
			if(description == '') alert("Debes ingresar una descripcion");

			// If form is valid: proceed
			if(title != '' && description != '') {

				$.post('/usuario/meguz/crear/procesar-data', {title: title, description: description, offer_id: {{ offer.id }}}, function(response) {

					if(response.search("[GLUE]") > 0) {

						var data = response.split("[GLUE]");
						var token = data[0];
						var post_url = data[1];
						var meguz_id = data[2];

						$('#id_token').val(token);
						var url = post_url + "?nexturl={{ next_url }}"

						var fd = new FormData();
						var fileInput = document.getElementById('id_file');
						fd.append('file', fileInput.files[0])
						fd.append('token', token)

						//var authtoken = 'ya29.1.AADtN_UlaLH-IS5wZdg_H-noY-1WfpCkYeQaq60koexZ5JMCFAi3NAM-rIgqXy4';

						var xhr = new XMLHttpRequest();
						xhr.open('POST', url, true);
						//xhr.setRequestHeader('Authorization', 'Bearer ' + authtoken);
		                xhr.upload.onprogress = function(e) {
		                    if (e.lengthComputable) {
		                        var percentComplete = Math.round((e.loaded / e.total) * 100);
		                        //console.log(percentComplete + '% subido');
		                        $('#submit').val("Subiendo..." + percentComplete + '%');
		                    }
		                };
		                xhr.onreadystatechange = function (oEvent) {  
						    if (xhr.readyState === 4) {  
						        if (xhr.status === 200) {  
						          	console.log(xhr.responseText)  
						    } else {  
						      	console.log("Error" + xhr.statusText + xhr.responseText);  
						    }  
						  }  
						}; 
		                xhr.onload = function() {
		                	console.log(this.status);
		                	console.log(this.responseText);

		                	/*
		                    if (this.status === 201) {
		                        var url = this.getResponseHeader('location');
		                        $('#productImages').append('<img src="' + url + '">');
		                    }*/		                    
		                };
		                xhr.send(fd);

					} else {

						alert(response);

					}

				});

			}


		} else {
			alert("Debes ingresar un video");
		}

		return false;
	}
</script>

{% endblock %}
