{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css">
{% endblock %}

{% block content %}

<aside class="contenedor_izq_detalle">
	<h1>{{ meguz.prize.title }}</h1>

	<div class="contenedor_central_superior_detalle">
		<form id="form_participar" class="forms" method="post">
			{% csrf_token %}
			{{ form_data.non_field_errors }}

			<ul>
				<li>
					{{ form_data.title.errors }}
					<label for="id_title">Título de tu video</label> 
					{{ form_data.title }}		
					<p class="error" id="error_title"></p>			
				</li>
				<li>
					{{ form_data.description.errors }}
					<label for="id_description">
						¿Cómo piensas ganarte el premio? Describe tu video a continuación...
					</label> 
					{{ form_data.description }}		
					<p class="error" id="error_description"></p>					
				</li>					
			</ul>
		</form>

		<form action="{{ post_url }}?nexturl={{ next_url }}" id="form_participar_multimedia" class="forms" method="post" enctype="multipart/form-data">
			<ul>
				<li id="input_video">
					{{ form.file.errors }}
					<label for="id_file">Sube tu video</label> 
					{{ form_video.file }}
					<span class="helptext">- Dependiendo del tamaño del video, esta operación puede tardar algunos minutos.</span>
					<span class="helptext">- El video estará disponible una vez que termine su procesamiento en nuestra <a href="http://www.youtube.com/MEGUZcom" target="_blank">página de youtube</a></span>
					<p class="error" id="error_file"></p>
		    		{{ form_video.token.as_hidden }}
	    		</li>
    			<li>
    				<input value="Editar meguz" id="submit" type="button" onclick="editMeguz({{ meguz.id }}); return false;" />
    				<input type="submit" id="submit_meguz_form" style="display:none">
    			</li>
		</li>
		</form>

		{% if video_state %}
		<p>Estado del video: {{ video_state }} ({{ video_msg }})</p>
		{% endif %}
		<iframe width="420" height="315" src="//www.youtube.com/embed/{{ meguz.video_id }}" frameborder="0" allowfullscreen></iframe>
		<p class="helptext" style="margin-bottom:20px;">(*) Una vez subido tu video, debes esperar un par de minutos antes de que este aparezca disponible.</p>
	</div>

</aside>

<!-- // Right Bar -->
<aside class="contenedor_derecho_detalle">
	<article class="contenedor_destacados_derecho">		
		<h2>Recuerda</h2>
		<ul class="recuerda">
			<li>Tu video debe ser exclusivamente grabado para Meguz.com</li>
			<li>El protagonista del video debes ser tú</li>
			<li>Se validará que los likes hayan sido obtenidos exclusivamente en Meguz.com</li>
		</ul>
	</article>	
</aside>

<div id="loader_container">
	<div id="overlay"></div>
	<div id="info">
		<img src="/static/img/youtube_loader.gif" />
		<h3>Estamos subiendo tu video a Youtube</h3>
		<h5>Dependiendo de tu conexión a internet y del tamaño de tu video, este proceso puede tardar varios minutos.</h5>
		
	</div>
</div>
{% endblock %}
