{% extends 'base.html' %}

{% block content %}
<aside class="contenedor_menu_izq">
	
	<nav class="cont_navegacion">
		<h3>¿Necesitas ayuda?</h3>
		<ul>
			<li><a href="/empresa/registro/">Soy una empresa y quiero publicar mis propias ofertas</a></li>
		</ul>
	</nav>

</aside>

<aside class="contenedor_central_content">
	<div class="cont_titulo_destacado">
		<h2>Registro de empresa</h2>
	</div>

	<p>El registro de tu empresa se ha realizado de manera satisfactoria...</p>
	<p>Hemos enviado un email con tu usuario y password necesarios para acceder a tu cuenta en <b><a href="http://boe.meguz.com">empresa.meguz.com</a></b> y comenzar a subir tus ofertas</p>

</aside>
{% endblock %}