{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css">
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="form_container">	
	<h1>Registro empresa</h1>
	<form id="form_regempresa" class="forms" enctype="multipart/form-data" method="post" action="/empresa/contacto/">
		{% csrf_token %}
		{{ form.as_ul }}
		<input type="submit" value="Submit" />
	</form>	
</div>
{% endblock %}

