{% extends 'base.html' %}
{% block content %}

<aside class="contenedor_menu_izq">
	
	<nav class="cont_navegacion">

		<div class="contenedor_navega">
			<h1>Estado</h1>
		</div>
		<ul>
			<!--
			<li><a href="#" class="select">Destacados</a></li>
			<li><a href="#">MeguZers (Cumplidos)</a></li>
			-->
		</ul>

		<div class="contenedor_navega">
			<h1>Categorias</h1>
		</div>
		<ul>
			<!--
			<li><a href="#">Desafios Extremos</a></li>
			<li><a href="#">Ofertas Comerciales</a></li>
			<li><a href="#">Ayuda Social</a></li>
			<li><a href="#">Más Popularidad</a></li>
			<li><a href="#">Otros</a></li>
			-->
		</ul>

		<div class="contenedor_navega">
			<h1>Likes</h1>
		</div>
		<ul>
			<!--
			<li><a href="#">Desafios Extremos</a></li>
			<li><a href="#">Ofertas Comerciales</a></li>
			-->
		</ul>

		<h3>¿Necesitas ayuda?</h3>
		<ul>
			<li><a href="/empresa/registro/">Soy una empresa y quiero publicar mis propias ofertas</a></li>
			<li><a href="/boe/">Zona empresas</a></li>
		</ul>

	</nav>

</aside>

<aside class="contenedor_central_content">
	<div class="cont_titulo_destacado">
		<h2>Desafios destacados</h2>
	</div>


	<aside class="contenedor_destacados_meguz">
		<!--
		<article class="contenedor_destacados_h">			
			<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
				<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz"></span> 
			</div>
			<div class="cont_like_destacado_f">
				<span class="txt_digito_destacados">10.000</span>
				<span class="bt_like_destacados"><a href="#"><img src="/static/img/like_destacado.jpg"></a></span>
			</div>
			<h1><a href="/oferta/lan/viaja-al-sur-de-chile-por-solo-40000-pesos">Viaja al sur de Chile por solo $40.000 pesos</a></h1>
		</article>	
		-->
	</aside>

	<div class="cont_titulo_mas_meguz">
		<h2>Más Meguz</h2>
	</div>

	<aside class="contenedor_mas_meguz">
		<!--
		<article class="contenedor_mas_m_full">			
			<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
				<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz"></span> 
			</div>

			<div class="contenedor_txt_mas_m">
				<h1><a href="#">Juntamos 1000 likes y nos tiramos en carreton por un cerro</a></h1>
				<h2>Vamos al cerro más alto logrando los likes en MeguZ ( texto descripción)</h2>
				<div class="contendor_like">
					<h3>1.000.000</h3>
					<span class="contenedor_icono_like_home"><a href="#"><img src="/static/img/icon_like.png"></a></span>
				</div>
			</div>
		</article>
		-->
	</aside>
</aside>

<aside>
	
</aside>


{% endblock %}