{% extends 'base.html' %}
{% block content %}
<aside class="contenedor_menu_izq">
	
	<nav class="cont_navegacion">

		<div class="contenedor_navega">
			<h1>Categorias</h1>
		</div>
		<ul></ul>

		<h3>¿Necesitas ayuda?</h3>
		<ul>
			<li><a href="/empresa/registro/">Soy una empresa y quiero publicar mis propias ofertas</a></li>
		</ul>

	</nav>

</aside>

<aside class="contenedor_central_content">
	<div class="cont_titulo_destacado">
		<h2>Desafios destacados</h2>
	</div>


	<aside class="contenedor_destacados_meguz">

		{% for prize in prizes %}
		<article class="contenedor_destacados_h">			
			<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
				<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz">
					<a href="{{ prize.url }}">
						<img src="{{ prize.thumbnail }}">
					</a>
				</span> 
			</div>
			<div class="cont_like_destacado_f">
				<span class="txt_digito_destacados">{{ prize.vote_limit }}</span>
				<span class="bt_like_destacados"><a href="#"><img src="/static/img/like_destacado.jpg"></a></span>
			</div>
			<h1><a href="{{ prize.url }}">{{ prize.title }}</a></h1>
		</article>	
		{% endfor %}
	</aside>

	<div class="cont_titulo_mas_meguz">
		<h2>Más Meguz</h2>
	</div>

	<aside class="contenedor_mas_meguz">
		{% for meguz in meguzs %}
		<article class="contenedor_mas_m_full">			
			<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
				<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz">
					<a href="{{ meguz.url }}">
						<img src="{{ meguz.video_thumb }}">
					</a>
				</span> 				
			</div>

			<div class="contenedor_txt_mas_m">
				<h1><a href="{{ meguz.url }}">{{ meguz.title }}</a></h1>
				<h2>{{ meguz.description }}</h2>
				<div class="contendor_like">
					<h3>{{ meguz.vote_count }}</h3>
					<span class="contenedor_icono_like_home"><a href="{{ meguz.url }}"><img src="/static/img/icon_like.png"></a></span>
				</div>
			</div>
		</article>
		{% endfor %}
	</aside>
</aside>

<aside>
	
</aside>


{% endblock %}