{% extends 'base.html' %}
{% load humanize %}
{% load number_filter %}

{% block extrahead %}
<title>Meguz.com</title>
<meta name="description" content="Ganar espectaculares premios ¡Nunca había sido tan entretenido!
Prepara tus mejores videos, porque en Meguz.com tenemos muchos premios en búsqueda de un nuevo dueño...">

<meta property="og:title" content="Meguz.com" />
<meta property="og:description" content="Ganar espectaculares premios ¡Nunca había sido tan entretenido!
Prepara tus mejores videos, porque en Meguz.com tenemos muchos premios en búsqueda de un nuevo dueño..."/>
<meta property="og:url" content="http://www.meguz.com"/>        
<meta property="og:image" content="http://www.meguz.com/static/img/logo.png">
{% endblock %}

{% block content %}
<aside class="contenedor_menu_izq">
	
	<nav class="cont_navegacion">

		<div class="contenedor_navega">
			<h1>Categorias</h1>			
		</div>
		<ul>
			{% for c in facets.category.terms %}
				<li><a href="/{{ c.term|slugify }}">{{ c.term }} ({{ c.count }})</a></li>
			{% endfor %}
		</ul>

		<h3>¿Necesitas ayuda?</h3>
		<ul>
			<li><a href="/empresa/registro/">Soy una empresa y quiero publicar mis propias ofertas</a></li>
		</ul>

		<img src="/static/img/arbol_navidad.png" id="arbol_navidad"/>

	</nav>

</aside>

<aside class="contenedor_central_content">

	<div class="welcome">
		<div id="close-welcome" onclick="closeWelcome()">
			<img src="/static/img/close.png">
		</div>
		<h2>Gana premios juntando like en Facebook</h2>
		<div id="top-left">
			<img src="/static/img/meguz_icon.png">		
		</div>
		<div id="top-right">
			<div class="welcome-steps">
				<div class="step">
					<img src="/static/img/welcome_prize.png">					
					<p>1. Selecciona el premio que quieres ganar</p>
				</div>
				<div class="step">
					<img src="/static/img/welcome_video.png">
					<p>2. Participa y sube tu video</p>
				</div>
				<div class="step">
					<img src="/static/img/welcome_share.png">
					<p>3. Compartelo en redes sociales</p>
				</div>
				<div class="step">
					<img src="/static/img/welcome_goal.png">
					<p>4. Obtén todos los likes y ¡gana!</p>
				</div>
			</div>
		</div>
		
	</div>

	<div class="cont_titulo_destacado">
		<h2>Premios</h2>
	</div>


	<aside class="contenedor_destacados_meguz">

		{% for prize in prizes %}
		<article class="contenedor_destacados_h">			
			<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
				<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz">
					<a href="{{ prize.url }}">
						<img src="{{ prize.thumbnail }}">
					</a>
				</span> 
			</div>
			<div class="cont_like_destacado_f">
				<span class="txt_digito_destacados">{{ prize.vote_limit|intcomma }} <span style="font-size:12px">like</span></span>
				<span class="bt_like_destacados"><a href="#"><img src="/static/img/like_destacado.jpg"></a></span>
			</div>
			<h1><a href="{{ prize.url }}">{{ prize.title }}</a></h1>
		</article>	
		{% endfor %}
	</aside>

	<div class="cont_titulo_mas_meguz">
		<h2>Meguz</h2>
	</div>

	<aside class="contenedor_mas_meguz">
		{% for meguz in meguzs %}
		<article class="contenedor_mas_m_full">			
			<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
				<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz">
					<a href="{{ meguz.url }}" class="meguz_alist">
						<img src="{{ meguz.video_thumb }}">
						
						<div class="votos_caja" title="A [howmany]  personas le gusta este Meguz">
							<img src="/static/img/icon_like.png">
							<span class="votos_caja_count"></span>
						</div>			
									
					</a>
				</span> 				
			</div>

			<div class="contenedor_txt_mas_m">
				<h1><a href="{{ meguz.url }}">{{ meguz.title }}</a></h1>
				<h2>{{ meguz.description }}</h2>

				<!--
				<div class="contendor_like">
					<h3>{{ meguz.vote_count }}</h3>
					<span class="contenedor_icono_like_home"><a href="{{ meguz.url }}"><img src="/static/img/icon_like.png"></a></span>
				</div>
				-->
			</div>

			<div class="user_avatar">
				<img src="{{ meguz.user_avatar }}?type=large"/>
			</div>
		</article>
		{% endfor %}
	</aside>
</aside>

<aside>
	
</aside>


{% endblock %}
