{% extends 'base.html' %}
{% load humanize %}
{% load number_filter %}

{% block extrahead %}
<title>{{ meguz.title }} | Meguz.com</title>
<meta name="description" content="{{ meguz.description }}">

<meta property="og:title" content="{{ meguz.title }} | Meguz.com" />
<meta property="og:description" content="{{ meguz.description }}"/>
<meta property="og:url" content="http://www.meguz.com/meguz/{{ meguz.id }}/{{ meguz.slug }}/"/>        
<meta property="og:image" content="{{ meguz.video_thumb }}">

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

{% block content %}
<div class="titulo_usuario_meguz">
	<div class="contendor_header_usuario">
		<span class="perfil_imagen_usuario">
			<img src="{{ meguz.user.avatar }}">
		</span>
		<span class="titulo_usuario_barra_perfil" id="titulo_mobile_horizontal">
		<a href="http://www.facebook.com/{{ meguz.user.facebook_id }}" target="_blank">{{ meguz.user.name }}</a>
		</span>

		<!--<span class="boton azul posicion_ver_perfil">Ver perfil</span>-->

	</div>
</div>	

<aside class="contenedor_izq_detalle">
	<h1>{{ meguz.title }}</h1>

	<div class="contenedor_central_superior_detalle">

		<div class="contenedor_central_superior_detalle_der">
			<div class="contenido_img_detalle">
				<iframe width="600" height="393" src="//www.youtube.com/embed/{{ meguz.video_id }}?showinfo=0&modestbranding=1&rel=0&theme=light" frameborder="0" allowfullscreen></iframe>				
			</div>	

			<div id="contenido_stats_detalle">
				<div class="contenido_stats_subdetalle stats_1" title="Meta: {{ meguz.prize.vote_limit|intcomma }} like">
					<img src="/static/img/goal.png">
					{{ meguz.prize.vote_limit|intcomma }} <span id="me-gusta">me gusta</span>
				</div>
				<div class="contenido_stats_subdetalle stats_2">
					<img src="/static/img/likes.png">
					<div class="fb-like" data-layout="button_count" data-href="http://www.meguz.com/meguz/{{ meguz.id }}/{{ meguz.slug }}/" data-action="like" data-show-faces="false" data-share="false"></div>
				</div>				
			</div>

			<div class="contenedor_descripcion mobile">
				<h3>Descripción:</h3>
				<p>{{ meguz.description }}</p>
			</div>

		</div>

		<div class="contenedor_auspiciado banner_336x280">		
			<div style="margin:auto;">

				<!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
				<!-- 336x280 Search results page-2 -->
				<!--
				<ins class="adsbygoogle"
				     style="display:inline-block;width:336px;height:280px"
				     data-ad-client="ca-pub-1054516004019864"
				     data-ad-slot="3796594384"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				-->
				<img src="/static/img/banner_copucha.jpg">
			</div>
		</div>


		<div class="contenedor_auspiciado">
			<h3>Premio</h3>
			<div class="meguz_premio">
				<a href="/{{ meguz.prize.company.slug }}/premios/{{ meguz.prize.id }}/{{ meguz.prize.slug }}/">
					<img src="{{ meguz.prize.media_thumb }}">
				</a>
				<h4>{{ meguz.prize.title }}</h4>

				{% if meguz.prize.status == 'C' %}
				<div class="boton_participa">
					<span class="boton azul posicion_ver_perfil" id="boton_verde" onclick="participar({{ meguz.prize.id }})">Participar</span>
				</div>
				{% endif %}
			</div>
		</div>	

		<div class="contenedor_auspiciado btn-compartir">		
			<h3>Ayuda a este usuario compartiendo su video con tus amigos</h3>
			<div class="meguz_premio">
				<div class="sharebox">
					<div class="fb-share-button" data-type="button"></div>
				</div>
				<div class="sharebox">
					<a href="https://twitter.com/share" class="twitter-share-button" data-lang="es" data-count="none">Tweet</a>
				</div>
				<div class="sharebox">
					<!-- Inserta esta etiqueta donde quieras que aparezca Botón Compartir. -->
					<div class="g-plus" data-action="share" data-annotation="none"></div>

					<!-- Inserta esta etiqueta después de la última etiqueta de compartir. -->
					<script type="text/javascript">
					  window.___gcfg = {lang: 'es'};

					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/platform.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
				</div>
			</div>
		</div>	

	</div>

	<!--
	<div class="contendor_caracteristicas_auspiciador">
		<div class="contendor_interno_auspiciador">
			<span class="txt_datos_auspiciador txt_datos_auspiciador_separa_izq">Sorteados: <span class="txt_datos_auspiciador_bold">{{ meguz.prize.stock }}</span></span>
			<span class="txt_datos_auspiciador txt_datos_auspiciador_separa_izq">Disponibles: <span class="txt_datos_auspiciador_bold">1</span></span>
			<span class="txt_datos_auspiciador txt_datos_auspiciador_separa_der">Premio: <span class="txt_datos_auspiciador_bold">{{ meguz.prize.prize_name }}</span></span>
		</div>
	</div>
	-->

	<div class="contenedor_medio_detalle">

		<div class="contenedor_descripcion no-mobile">
			<h3>Descripción:</h3>
			<p>{{ meguz.description }}</p>
		</div>

	</div>

	<!--
	<div class="contenedor_publicidad_detalle">
		<div class="publicidad_banner_lar">
			<div class="banner_lar_detalle">
				<img src="/static/img/banner_lar.png">
			</div>
		</div>
	</div>
	-->

	<div class="contenedor_comentarios_detalle_facebook">
		<div class="fb-comments" data-href="http://www.meguz.com/meguz/{{ meguz.id }}/{{ meguz.slug }}/" data-numposts="10" mobile="false"></div>
		<style>.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
</style>
	</div>

</aside>

<aside class="contenedor_derecho_detalle">

	{% for m in meguzs %}
	<article class="contenedor_destacados_derecho">

		<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
			<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz">
				<a href="{{ m.url }}">
					<img src="{{ m.video_thumb }}">
					<!--
					<div class="votos_caja" title="A {{ m.vote_count }} personas le gusta este Meguz">
						<img src="/static/img/icon_like.png">
						<span class="votos_caja_count">{{ m.vote_count|mini_number }}</span>
					</div>
					-->
				</a>
			</span> 
		</div>
		<h1><a href="{{ m.url }}">{{ m.title }}</a></h1>

	</article>
	{% endfor %}
	
</aside>


{% endblock %}
