{% extends 'base.html' %}
{% block content %}
<div class="titulo_usuario_meguz">
	<div class="contendor_header_usuario">
	<span class="perfil_imagen_usuario">
		<img src="{{ company.logo.url_120x120 }}" />
	</span>
	<span class="titulo_usuario_barra_perfil">
		<a href="/empresas/{{ company.slug }}">{{ company.name }}</a>
		<a href="#" class="eslogan_empresa">"{{ company.slogan }}</a>
	</span>

	<span class="boton azul posicion_ver_perfil">Ver perfil</span>

	</div>
</div>	

<aside class="contenedor_izq_detalle">
	<h1>{{ offer.title }}</h1>

	<div class="contenedor_central_superior_detalle">
		
		<div class="contenedor_central_superior_detalle_der">
			<div class="contenido_img_detalle_empresa">
				<!-- // 600 x 393 -->
				{% if offer.media_type == "I" %}
				<img src="{{ offer.media_url.url }}">
				{% else %}
				<iframe width="600" height="393" src="//www.youtube.com/embed/{{ offer.media_url }}?showinfo=0&modestbranding=1&rel=0&theme=light" frameborder="0" allowfullscreen></iframe>
				{% endif %}

			</div>
		</div>

		<div class="contenedor_central_superior_detalle_izq_empresa">
			<h5>Auspiciado por:</h5>
			<div class="contenedor_imagen_auspiciador">
				<img src="{{ company.logo.url_250x250 }}">
			</div>
			<div class="contendor_caracteristicas_auspiciador">
				<div class="contendor_interno_auspiciador">
					<span class="txt_datos_auspiciador txt_datos_auspiciador_separa_izq">Meta: <span class="txt_datos_auspiciador_bold">{{ offer.vote_limit }}</span></span>
					<span class="txt_datos_auspiciador txt_datos_auspiciador_separa_izq">Premio: <span class="txt_datos_auspiciador_bold">{{ offer.prize_name }}</span></span>
					<span class="txt_datos_auspiciador txt_datos_auspiciador_separa_der">Stock: <span class="txt_datos_auspiciador_bold">{{ offer.stock }} Premios</span></span>
				</div>
			</div>
		</div>

	</div>

	<div class="contenedor_medio_detalle">
		
		<div class="contenedor_descripcion">
			<h3>Descripción:</h3>
			<p>{{ offer.description }}</p>
			<p>{{ offer.conditions }}</p>
		</div>

		<div class="contenedor_auspiciado">
			<span class="boton_nar posicion_ver_perfil" id="boton_naranjo">Participar</span>
		</div>

	</div>

	<div class="contenedor_publicidad_detalle">
		<div class="estan_participando_empresa">
			Están Participando
		</div>
	</div>

	<div class="empresas_que_participan">
		<aside class="contenedor_mas_meguz">
			
			<article class="contenedor_mas_m_full">
				
				<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
					<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz">

					</span> 
				</div>

				<div class="contenedor_txt_mas_m">
					<h1><a href="#">Juntamos 1000 likes y nos tiramos en carreton por un cerro</a></h1>
					<h2>Vamos al cerro más alto logrando los likes en MeguZ ( texto descripción)</h2>
					<div class="contendor_like">
						<h3>1.000.000</h3>
						<span class="contenedor_icono_like_home"><a href="#"><img src="/static/img/icon_like.png"></a></span>
					</div>
				</div>

			</article>

			<article class="contenedor_mas_m_full">
				
				<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
					<span class="contenedor_mas_m_caja_img_interior fond_1_img_meguz">

					</span> 
				</div>

				<div class="contenedor_txt_mas_m">
					<h1><a href="#">Juntamos 1000 likes y nos tiramos en carreton por un cerro</a></h1>
					<h2>Vamos al cerro más alto logrando los likes en MeguZ ( texto descripción)</h2>
					<div class="contendor_like">
						<h3>1.000.000</h3>
						<span class="contenedor_icono_like_home"><a href="#"><img src="/static/img/icon_twi.png"></a></span>
					</div>
				</div>

			</article>

			<article class="contenedor_mas_m_full">
				
				<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
					<span class="contenedor_mas_m_caja_img_interior fond_1_img_meguz">

					</span> 
				</div>

				<div class="contenedor_txt_mas_m">
					<h1><a href="#">Juntamos 1000 likes y nos tiramos en carreton por un cerro</a></h1>
					<h2>Vamos al cerro más alto logrando los likes en MeguZ ( texto descripción)</h2>
					<div class="contendor_like">
						<h3>1.000.000</h3>
						<span class="contenedor_icono_like_home"><a href="#"><img src="/static/img/icon_like.png"></a></span>
					</div>
				</div>

			</article>

		</aside>
	</div>
</aside>

<!-- // Right Bar -->
<aside class="contenedor_derecho_detalle">
	<article class="contenedor_destacados_derecho">		
		<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
			<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz"></span> 
		</div>
		<div class="cont_like_destacado_f">
			<span class="txt_digito_destacados">1.000.000</span>
			<span class="bt_like_destacados"><a href="#"><img src="/static/img/twite_destacado.jpg"></a></span>
		</div>
		<h1><a href="#">Juntamos 1000 likes y nos tiramos en carreton por un cerro</a></h1>
	</article>
</aside>
{% endblock %}