{% extends 'base.html' %}
{% load humanize %}
{% load number_filter %}

{% block extrahead %}
<title>{{ offer.title }} | Meguz.com</title>
<meta name="description" content="{{ offer.description }}">

<meta property="og:title" content="{{ offer.title }} | Meguz.com" />
<meta property="og:description" content="{{ offer.description }}"/>
<meta property="og:url" content="http://www.meguz.com/premios/{{ offer.id }}/{{ offer.slug }}/"/>        
<meta property="og:image" content="{{ offer.media_thumb }}">

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

{% block content %}
<div class="titulo_usuario_meguz">
	<div class="contendor_header_usuario">
	<span class="perfil_imagen_usuario">
		<img src="{{ company.logo.url }}" />
	</span>
	<span class="titulo_usuario_barra_perfil">
		<a href="/empresas/{{ company.slug }}">{{ company.name }}</a>
		<!--<a href="#" class="eslogan_empresa">"{{ company.slogan }}"</a>-->
	</span>

	<!--<span class="boton azul posicion_ver_perfil" id="boton_perfil_mobile">Ver perfil</span>-->

	</div>
</div>	

<aside class="contenedor_izq_detalle">
	<h1>{{ offer.title }}</h1>

	<div class="contenedor_central_superior_detalle">
		
		<div class="contenedor_central_superior_detalle_der">
			<div class="contenido_img_detalle_empresa">
				<!-- // 600 x 393 -->
				{% if offer.media_type == "I" %}
				<img src="{{ offer.media_image.url }}">
				{% else %}
				<iframe width="600" height="393" src="//www.youtube.com/embed/{{ offer.media_url }}?showinfo=0&modestbranding=1&rel=0&theme=light" frameborder="0" allowfullscreen></iframe>
				{% endif %}

			</div>
		</div>

		{% if offer.status == "C" %}
		<div class="contenedor_auspiciado" id="participar_mobile">
			<span class="boton_nar posicion_ver_perfil btn-participar" id="boton_naranjo" onclick="participar({{ offer.id }})">Participar</span>
		</div>
		{% endif %}

		<div class="contenedor_central_superior_detalle_izq_empresa">
			<h5>Auspiciado por:</h5>
			<div class="contenedor_auspiciador">
				<img src="{{ company.logo.url }}">
			</div>

			<div class="contacto_auspiciador_1">
				<p class="auspiciador_nombre">{{ company.name }}</p>
				<p class="auspiciador_website">
					<a href="{{ company.website }}" target="_blank" rel="nofollow">Visitar página</a>
				</p>
			</div>
			<div class="contacto_auspiciador_2">
				<p>{{ company.address }}</p>
				<p>{{ company.phone }}</p>
				<p>{{ company.email }}</p>
			</div>
		
			<div class="contendor_caracteristicas_auspiciador">
				<div class="contendor_interno_auspiciador">
					<span class="txt_datos_auspiciador txt_datos_auspiciador_separa_izq">Meta: <span class="txt_datos_auspiciador_bold">{{ offer.vote_limit|intcomma }}</span></span>
					<span class="txt_datos_auspiciador txt_datos_auspiciador_separa_izq">Premio: <span class="txt_datos_auspiciador_bold">{{ offer.prize_name }}</span></span>
					<span class="txt_datos_auspiciador txt_datos_auspiciador_separa_der">Cantidad: <span class="txt_datos_auspiciador_bold">{{ offer.stock }} premios</span></span>
				</div>
			</div>

			<div class="share-wrapper">
				<h5>Comparte este premio</h5>
				<div class="contenedor_auspiciador">
					<div class="sharebox">
						<div class="fb-share-button" data-type="button"></div>
					</div>
					<div class="sharebox">
						<a href="https://twitter.com/share" class="twitter-share-button" data-lang="es" data-count="none">Tweet</a>
					</div>
					<div class="sharebox">
						<!-- Inserta esta etiqueta donde quieras que aparezca Botón Compartir. -->
						<div class="g-plus" data-action="share" data-annotation="none"></div>

						<!-- Inserta esta etiqueta después de la última etiqueta de compartir. -->
						<script type="text/javascript">
						  window.___gcfg = {lang: 'es'};

						  (function() {
						    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						    po.src = 'https://apis.google.com/js/platform.js';
						    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="contenedor_medio_detalle">
		
		<div class="contenedor_descripcion">
			<h3>Descripción:</h3>
			<p>{{ offer.description }}</p>

			<h3 style="margin-top:10px;">Letra chica:</h3>
			<p>{{ offer.conditions }}</p>
		</div>

		{% if offer.status == "C" %}
		<div class="contenedor_auspiciado" id="participar_desktop">
			<span class="boton_nar posicion_ver_perfil btn-participar" id="boton_naranjo" onclick="participar({{ offer.id }})">Participar</span>
		</div>
		{% else %}
		<div id="winners">
			<h5>Ganadores</h5>
			<ul>
				{% for w in winners %}
				<li>
					<div class="winner_image">
						<a href="/meguz/{{ w.id }}/{{ w.slug }}/">
							<img src="{{ w.video_thumb }}" class="thumb">
							<img src="{{ w.user.avatar }}" class="avatar">
						</a>
					</div>
					<div class="winner_title">{{ w.title }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

	</div>

	<div class="contenedor_publicidad_detalle">
		<div class="estan_participando_empresa">
			Ya están participando...
		</div>
	</div>

	<div class="empresas_que_participan">
		<aside class="contenedor_mas_meguz">
			
			{% for meguz in meguzs %}
			<article class="contenedor_mas_m_full">			
				<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
					<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz">
						<a href="{{ meguz.url }}">
							<img src="{{ meguz.video_thumb }}">
							<div class="votos_caja" title="A {{ meguz.vote_count }} personas le gusta este Meguz">
								<img src="/static/img/icon_like.png">
								<span class="votos_caja_count">{{ meguz.vote_count|mini_number }}</span>
							</div>
						</a>
					</span> 				
				</div>

				<div class="contenedor_txt_mas_m">
					<h1><a href="{{ meguz.url }}">{{ meguz.title }}</a></h1>
					<h2>{{ meguz.description }}</h2>

					<!--
					<div class="contendor_like">
						<h3>{{ meguz.vote_count }}</h3>
						<span class="contenedor_icono_like_home"><a href="{{ meguz.url }}"><img src="/static/img/icon_like.png"></a></span>
					</div>
					-->
				</div>
			</article>
			{% endfor %}		

		</aside>
	</div>
</aside>

<!-- // Right Bar -->
<aside class="contenedor_derecho_detalle">
	{% for prize in prizes %}
	<article class="contenedor_destacados_derecho">		
		<div class="contenedor_mas_m_caja_img fond_0_img_meguz">
			<span class="contenedor_mas_m_caja_img_interior  fond_1_img_meguz">
				<a href="{{ prize.url }}">
					<img src="{{ prize.thumbnail }}">
				</a>
			</span> 
		</div>
		<div class="cont_like_destacado_f">
			<span class="txt_digito_destacados">{{ prize.vote_limit }}</span>
			<span class="bt_like_destacados"><a href="#"><img src="/static/img/like_destacado.jpg"></a></span>
		</div>
		<h1><a href="{{ prize.url }}">{{ prize.title }}</a></h1>
	</article>
	{% endfor %}
</aside>

{% endblock %}