{% extends 'base_boe.html' %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css">
{% endblock %}

{% block content %}
<div class="row">
	<h1>Nueva oferta (1/2)</h1>
	<a href="/boe/ofertas/lista" class="btn btn">Volver</a>
</div>

<form id="new_offer" class="forms" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}

	<div class="block">
		<ul>
			<li>
				{{ form.title.errors }}
				<label for="id_title">Título</label>
				{{ form.title }}
			</li>
			<li>
				{{ form.prize_name.errors }}
				<label for="id_prize_name">Premio</label>
				{{ form.prize_name }}
			</li>
			<li>
				{{ form.stock.errors }}
				<label for="id_stock">Cantidad</label>
				{{ form.stock }}
			</li>
			<li>
				{{ form.category.errors }}
				<label for="id_categorye">Categoría</label>
				{{ form.category }}
			</li>
			<li>
				{{ form.vote_limit.errors }}
				<label for="id_vote_limit">Meta (likes o retweets)</label>
				{{ form.vote_limit }}
			</li>
			<li>
				{{ form.vote_source.errors }}
				<label for="id_vote_source">Red social</label>
				{{ form.vote_source }}
			</li>
		</ul>

	
	</div>

	<div class="block">
		<ul>
			<li>
				{{ form.description.errors }}
				<label for="id_description">Descripción</label>
				{{ form.description }}
			</li>
			<li>
				{{ form.conditions.errors }}
				<label for="id_conditions">Letra chica</label>
				{{ form.conditions }}
			</li>
		</ul>
		<input type="submit" class="btn btn-primary" value="Guardar y continuar" />
	</div>
</form>
{% endblock %}